@page "/"
@using ExpenseTracker.Models
@using ExpenseTracker.Services
@using Microsoft.AspNetCore.Components.Forms
@using MudBlazor
@inject IAuthService AuthService
@inject NavigationManager NavigationManager


<h1>Login</h1>

@if (isNewUser)
{
    <NewUserLoginForm/>
}
else
{
    <ExistingUserLoginForm/>
}


@code {
    private bool isNewUser;

    protected override void OnInitialized()
    {
        isNewUser = !AuthService.UserExists();
    }
}