@page "/"
@layout Layout.LoginLayout
@using ExpenseTracker.Models
@using ExpenseTracker.Services
@using Microsoft.AspNetCore.Components.Forms
@using MudBlazor
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<MudCard Class="mx-auto mt-5" Style="max-width: 400px;">
    <MudCardContent>
        <h1 class="text-center mb-4">Login</h1>

        @if (isNewUser)
        {
            <NewUserLoginForm />
        }
        else
        {
            <ExistingUserLoginForm />
        }
    </MudCardContent>
</MudCard>

@code {
    private bool isNewUser;

    protected override void OnInitialized()
    {
        isNewUser = !AuthService.UserExists();
    }
}
