@page "/transactions"
@using ExpenseTracker.Models;
@using ExpenseTracker.Services;
@inject ITransactionService TransactionService;
@inject IDialogService DialogService

@using Microsoft.AspNetCore.Components.Forms;


<h1>My Transactions</h1>

<!-- Transactions View Start -->

<MudDataGrid Items="@transactions">
    <Columns>
        <PropertyColumn Property="x => x.Title" />
        <PropertyColumn Property="x => x.Type" />
        <PropertyColumn Property="x => x.Amount" />
        <PropertyColumn Property="x => x.Date.ToShortDateString()" />
        <PropertyColumn Property="x => x.Tag" />
        <PropertyColumn Property="x => x.Notes" />
    </Columns>
</MudDataGrid>

<MudButton OnClick="OpenAddNewTransactionModal" Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" Class="mt-3">Add New Transaction</MudButton>


<AddNewTransactionModal OnTransactionAdded="UpdateTransactionList" />


@code {
    private List<Transaction> transactions;
    private bool isSortedByDateAscending = false;


    private void OpenAddNewTransactionModal()
    {
       DialogService.Show<AddNewTransactionModal>();
    }


    public void UpdateTransactionList()
    {
        LoadTransactions();
        StateHasChanged();
    }

    private void LoadTransactions()
    {
        transactions = TransactionService.GetAllTransactions().ToList();
    }

    protected override void OnInitialized()
    {
        LoadTransactions();
    }
}
